body {
	background: #f2f2f2;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
header {
	text-align: center;
	background-image: url("../img/Sky.jpg");
	background-position: top;
	color:  #ff751a;
}
img {
	padding-top: 30px;
}
a {
	color: #ffd1b3;
	font-size: 20px;
}
h1 {
	font-size: 60px;
}

ul {
	list-style-type: none;
	background: rgba(0,0,0,0.5);
}
li {
	display: inline;
	padding: 0px 30px 10px 30px;
}
#mainSection {
	background: #fff0e6;
	margin: 0 auto;
	max-width: 500px;
    padding: 20px;
    line-height: 30px;
}

.welcome {
	padding-top: 40px;
}

